<!DOCTYPE html>
<html>
<head>
    <title>Upload Image</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Upload Image for Sentiment Analysis</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.image.label }}<br>
            {{ form.image(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <div>
        {% if result %}
            <h2>Sentiment Analysis Result:</h2>
            <p>{{ result }}</p>
        {% endif %}
    </div>
</body>
</html>
